.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BakeryImage{
  width: 20rem; 
  border-radius: 10px;
  align-self: center;
}

.BakeryItem {
  font-family: "Arial", sans-serif;;
  background-color:lightskyblue;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 1vw; 
}

.btn{
  border-radius: 5px;
  background-color: darkblue;
  border: 2px solid darkblue;
}

.btn-text{
  color: white;
}

.BoldFont{
  font-weight: bold;
}

.MainGrid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: start;
}

.SideBar{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 15px;
  border: 2px solid skyblue;
  border-radius: 10px;
}

.RecipeGrid{
  display: grid;
  margin: 15px;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: 35rem 35rem 35rem 35rem 35rem 35rem;
}

.TopBar{
  background-color:darkblue;
  height: 10vw;
  text-align: center;
  vertical-align: middle;
}

.TopText{
  margin: 0px;
  font-size: 50px;
  font-family:Impact;
  color: white
}

.btnPane{
  align-self: left;
}
